@import 'buttons';


:root{
/* Primary */
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dar-blue: hsl(208, 49%, 24%);

     /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);

     /* Gradient */
    --very-light-red:hsl(13, 100%, 72%);
    --light-red2: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
    height: auto;
    background-image: url(/public/bg-pattern-intro.svg);
    background-color:var(--light-red); 
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 0 4rem;
   
    img {
        margin: 16px;
    }
   
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    
        ul {
            padding:0;
            display: flex;
            align-items: center;
            color:#D3D3D3;
            li {
                height: auto;
                margin-left: 40px;
                list-style: none;
            }
        }
    }
   
    a {
        position: relative;
    } 

        
        h1{
            font-size: 32px;
            color:white;
            text-align: center;
            margin-bottom:0;
        }

        p{
            text-align: center;
            color:#D3D3D3;
        }
        
        .menu-header  li a::before{
            content: url(/public/icon-arrow-light.svg);
            height: auto;
            top: 10px;
            left: 70px;
            position:absolute;
            display: flex;
        }  
        .container{
            display: flex;
            align-items: center;
            max-width: 90%;
            margin-left:2rem;
            margin-right: 2rem;
        }

        .logo-menu {
            display: flex;
        }
}


